/* --- put your css here --- */ 

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* --- pre-existing css --- */
<!--#11 Fixes nav bar and changes its properties-->
nav{
  width:100%;
  position: fixed;
  background-color:green;
  opacity: 0.9;
  padding: 5px;
  font-size: 20px;
  z-index:1;
}
<!--#12 Gave table following class attributes and it worked-->
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}

<!--#13 Gave inputs the class attribute pinkey-->
input[type="text"].pinkey:focus {
  background-color: pink;
}

<!--#2 Makes background sky blue-->
body {
   background-color: skyblue;
}
<!--#3 chnages font for id itsgottbeme-->
#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}
<!--#4 Moves all paragrahs with class classy #10 pixels-->
p.classy {
  margin-left: 10px;
}
<!--#5 Gives all div elements 50 pixel margin on bottom-->
div {
  margin-bottom: 50px;
}
<!--#6 Gives all spans the following guidelines-->
span{
    width: 100px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    background-color: yellow;
}
<!--#8 Fixes cat to bottom right hand corner of page-->
img.cat{
  position: fixed;
  bottom : 0px;
  right: 0px;
  z-index:1;
}

<!--#7 Show differnet text wrappings using spans-->
span.a{
  word-wrap: normal;
}

span.b{
  position: relative;
  display: block;
}

span.c{
  display: inline-block;
}
<!--#9 Moves the dog image to its new location-->
img.dog{
  position: relative;
  right: 50px;
  bottom: 150px;
}

<!--#10 Moves the bird picture while keeping integrity of text-->
#positionMe{
  position: relative;
}

img.bird{
  position: absolute;
  display: block;
  top: 50px;
  left: 250px;
} 
